@model IEnumerable<AmherstGolfClub.Models.Events>
@{
    ViewBag.Title = "Member Information";
}

<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <hr />
        <h2 class="text-center">@ViewBag.Title</h2>
        <hr />
        <ul style="list-style-type:square">
            <li><a href="~/PDF/amherst-member-manual.pdf" target="_blank">Member Handbook (PDF)</a></li>
            <li><a href="~/PDF/amherst_golf_club_by_laws.pdf" target="_blank">By Laws (PDF)</a></li>
            <li><a href="~/" target="_blank">Score Card (PDF)</a></li>
        </ul>
    </div>
</div>
@*WILL INSERT YOUR CALENDAR SECTION HERE*@
<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <hr />
        <h2 class="text-center">Calendar of Events</h2>
        <hr />
        <div id="fullcalendar"></div>

        @section Scripts {

            <script type="text/javascript">
                $(function () {
                    $('#fullcalendar').fullCalendar({
                        height: 1000,
                        
                        header: {
                            left: 'prev',
                            center: 'title',
                            right: 'next'

                        },
                        defaultDate: new Date(),
                        defaultView: 'month',
                       
                        eventMouseover: function (calEvent, domEvent) {
                            var layer = '<div id="events-layer" class="fc-transparent" style=" width:100%; height:100%; text-align:left; ">'
                                + '<p>'+'Name: ' + calEvent.title+'</p>'
                                + '<p>' + 'Start: ' + calEvent.note + '</p>'
                                + '<p>' + 'End: ' + calEvent.note3 + '</p>'
                                + '<p>' + 'Description: ' + calEvent.note2+ '</p>'
                                +'</div>';

                            $(this).append(layer);
                        },
                        

                        eventMouseout: function (calEvent, domEvent) {
                            $(this).find('div[id*=events-layer]').remove();
                        },
                        


                        events: [
         @foreach (var item in Model)
         {




            <text>
                {

                    title: "@(item.EventName)",
                    date: '@(item.Date)',
                    note: '@(item.Start)',
                    note2: ' @(item.Description)',
                    note3: '',//item.end
                    @if (item.Type.Equals(1))
                    {
                        <text>
                    backgroundColor: '#FF9900',
                    textColor: 'black',
                    </text>

                        }
                   
                    @if (item.Type.Equals(2))
                        {
                            <text>
                    backgroundColor: '#990033',
                            textColor: 'white',
                            </text>

                        }
                     @if (item.Type.Equals(3))
                         {
                             <text>
                    backgroundColor: '#6666CC',
                             textColor: 'white',
                             </text>

                         }
                     @if (item.Type.Equals(4))
                         {
                             <text>
                    backgroundColor: '#666600',
                             textColor: 'white',
                             </text>

                         }
                     @if (item.Type.Equals(5))
                         {
                             <text>
                    backgroundColor: '#00CC00',
                             textColor: 'black',
                             </text>

                         }
                     @if (item.Type.Equals(6))
                         {
                             <text>
                    backgroundColor: '#b200ff',
                             textColor: 'white',
                             </text>

                         }
                     @if (item.Type.Equals(7))
                         {
                             <text>
                    backgroundColor: '#00ffff',
                             textColor: 'black',
                             </text>

                         }
                     @if (item.Type.Equals(8))
                         {
                             <text>
                    backgroundColor: '#808080',
                             textColor: 'white',
                             </text>

                         }
                     @if (item.Type.Equals(9))
                         {
                             <text>
                    backgroundColor: '#b6ff00',
                             textColor: 'black',
                             </text>

                         }

                },
             </text>

        }
                        ],

                    });
                });
            </script>


        }

        <div id="legend">
            <div>
                <span class='label' style='color : #000000'>Category Legend</span>
            </div>
            <span class='label' style='background-color : #FF9900; color : #000000'>Tournament Events</span>
            <span class='label' style='background-color : #990033; color : #FFFFFF'>Member Events</span>
            <span class='label' style='background-color : #6666CC; color : #FFFFFF'>Corporate Events</span>
            <span class='label' style='background-color : #666600; color : #FFFFFF'>Special Events</span>
            <span class='label' style='background-color : #00CC00; color : #000000'>Demo Events</span>
            <span class='label' style='background-color : #b200ff; color : #FFFFFF'>Wedding Events</span>
            <span class='label' style='background-color : #00ffff; color : #000000'>Social Events</span>
            <span class='label' style='background-color : #808080; color : #FFFFFF'>Public Events</span>
            <span class='label' style='background-color : #b6ff00; color : #000000'>Golf Events</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-10 col-md-offset-1">

        <hr />
        <h2 class="text-center">Gift Card Policy</h2>
        <hr />
        <p>
            1. <strong>"Prize Card"</strong> which will be awarded to any person that wins a prize in club event. This card can be used for any
            future purchases in the Kitchen &amp; Bar.
        </p>
        <p>
            2. <strong>"Gift Card"</strong> will be "sold" and can be usded for anything (membership, carts, food &amp; beverage, pro shop, etc.).
        </p>
        <h4>Restrictions</h4>
        <ol>
            <li>Prize cards cannot be used to pay off club accounts.</li>
            <li>Prize cards cannoth be used to create a credit on a club account.</li>
            <li>Any pro shop merchandise given out as a prize in an event cannot be exchanged for a Prize Card of the same value.</li>
            <li>All gift cards (green cards) that are currently issued will be subject to the new "Prize Card" policy.</li>
            <li>Prize Cards &amp; Gift Cards cannot be exchanged for cash.</li>
        </ol>
    </div>
</div>
<hr />s

