@model AmherstGolfClub.Models.MenuItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MenuItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MenuCategory.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuCategory.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MenuItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
