@model IEnumerable<AmherstGolfClub.Models.Tournament>

@{
    ViewBag.Title = "Tournaments";
}
<hr />
<h2 class="text-center">Tournaments</h2>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TournamentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TournamentDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentDate)
            </td>
            <td>
                @if (item.FileName != null)
                {
                    <a href="~/Tournaments/@item.FileName">Results</a>
                }
                else
                {
                    <span>Results</span>
                }
            </td>
        </tr>
    }
</table>
<hr />