@model IEnumerable<AmherstGolfClub.Models.Tournament>

@{
    ViewBag.Title = "Tournaments";
}
<hr />
<h2 class="text-center">Tournaments</h2>
<hr />
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Year)*@
            Year
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TournamentName)*@
            Tournament Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TournamentDate)*@
            Date
        </th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    
    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentDate)
            </td>
            <td>@Html.ActionLink("Draw", "TournyDraw", "Tournament", new {id = item.TournamentID},null)</td>
            <td>
                @if (File.Exists(Server.MapPath("~/Tournaments/" + @item.FileName)))
                {
                    <a href="~/Tournaments/@item.FileName">Results</a>
                }
                else
                {
                    <span>Results</span>
                }
            </td>
        </tr>
    }*@
</table>
<hr />