@model IEnumerable<AmherstGolfClub.Models.Product>

<h2>@ViewBag.Title</h2>


@if (Request.IsAuthenticated)
{
    if (ViewBag.RecordsUploaded == null)
    {
        using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {            
            <div class="container">
                <div class="form-horizontal">
                    <hr />
                    <h4>Upload Pro Shop Items</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <input type="file" id="CSVName"
                                   name="CSVName" lass="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <hr />
                <h4>Edit Menu Items</h4>
                <hr />
                <div class="col-md-10 col-md-offset-1">
                    @Html.ActionLink("View Menu", "ViewMenu", "Admin") |
                    @Html.ActionLink("Create Item", "MenuCreate", "Admin")
                </div>
            </div>
            <div class="container">
                <hr />
                <h4>Manage Articles</h4>
                <hr />
                <div class="col-md-10 col-md-offset-1">
                    @Html.ActionLink("Article List", "ArticleList", "Admin")
                </div>
            </div>
            <div class="container">
                <hr />
                <h4>Manage Events</h4>
                <hr />
                <div class="col-md-10 col-md-offset-1">
                    @Html.ActionLink("Event List", "EventList", "Admin")
                </div>
            </div>
            <div class="container">
                <hr />
                <h4>Manage Tournaments</h4>
                <hr />
                <div class="col-md-10 col-md-offset-1">
                    @Html.ActionLink("Tourny List", "TournyList", "Admin") | 
                    @Html.ActionLink("Upload Tourament File", "TournyUpload")
                </div>
            </div>
            <hr />
        }
    }
    else
    {
        <h4>@ViewBag.RecordsSaved records saved out of @ViewBag.RecordsUploaded uploaded</h4>

        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Sub Department
                </th>
                <th>
                    Item Category
                </th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubDepartment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemCategory)
                    </td>

                </tr>
            }
        </table>
        <hr />
    }
}
else
{
    <div class="alert alert-danger">
        <p>You are not authorized to view this page.</p>        
    </div>
}
