@model IEnumerable<AmherstGolfClub.Models.Tournament>

@{
    ViewBag.Title = "TournyList";
}
<hr />
<h2 class="text-center">List of Tournaments</h2>
<hr />
<p>
    @Html.ActionLink("New Tournament", "TournyCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TournamentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TournamentDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "TournyEdit", new { id = item.TournamentID }) |
                @Html.ActionLink("Delete", "TournyDelete", new { id = item.TournamentID })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Admin Home", "Index")
</div>
<hr />
